.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.menu {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

.menu__input {
  width: 60%;
  height: 40px;
  font-size: 20px;
}

.menu__buttons {
  display: flex;
  justify-content: space-between;
  width: 38%;
  margin-bottom: 50px;
}

.menu__but {
  background: burlywood;
  font-weight: 700;
  border-radius: 5px;
  height: 40px;
}

.menu__but:hover {
  opacity: 0.8;
  cursor: pointer;
}

.menu__but_back {
  background: green;
}

.menu__but_save {
  background-color: aqua;
}

.menu__but_active {
  opacity: 0.5;
}

.menu__count {
  color: white;
}
